In [1]:
import pandas as pd
import matplotlib.pyplot as plt

Proceso EDA:

Se lee el archivo Emnpleados.csv

In [2]:
df_empleado = pd.read_csv('Empleados.csv',delimiter=';')

In [3]:
data_frame_empleado = df_empleado.copy()

In [4]:
data_frame_empleado.sample(5)

    Id_Empleado  Nombre y Apellido
18           19        Alan Silvan
21           22      Montaña Ariel
56           57  Alejandro Gimenez
23           24       Tello German
8             9      Marco Delgado

In [5]:
data_frame_empleado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68 entries, 0 to 67
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Id_Empleado        68 non-null     int64
 1   Nombre y Apellido  68 non-null     object
dtypes: int64(1), object(1)
memory usage: 1.2+ KB

Se lee el archivo de ventas.csv

In [6]:
df_ventas = pd.read_csv('Ventas.csv', delimiter=';')

C:\Users\leoma\AppData\Local\Temp\ipykernel_2316\3552495747.py:1: DtypeWarning: Columns (0,1,2,4,5,7,8,9,10,11) have mixed types. Specify dtype option on import or set low_memory=False.
  df_ventas = pd.read_csv('Ventas.csv', delimiter=';')

In [7]:

df_ventas.drop(index=range(127255, len(df_ventas)), inplace=True)

In [8]:
data_frame_ventas = df_ventas.copy()

In [9]:
data_frame_ventas.sample(5)

,IdCliente,NombreCliente,Fecha,Empleado,Referencia,Descripcion,CodigoFamilia,Familia,Cantidad,Ventas,Localidad,Sede,Area
67190,C15051158,ALVAREZ LUIS FERNANDO,12/7/2018,14.0,SE-CS-2-0002,BALANCEO CAMIONETA,106.0,SERVICIOS,4,26891,Suba,Suba,32.0
36500,C860007701,COMPAnIA DE TAXIS VERDES S.A.,14/9/2017,37.0,SE-CS-3-0001,MONTAJE AUTO-CAMIONETA,106.0,SERVICIOS,2,13445,Puente aranda,Calle 13,35.0
59677,C17112715,RUIZ ROGELIO,27/4/2018,10.0,LUA-0033,PETROBRAS 20W50 GRANEL,103.0,LUBRICANTES,1,50800,Engativa,Calle 80,31.0
43267,C79712261,URREGO ALEXANDER,22/11/2017,10.0,SE-CS-1-0001,ALINEACION AUTO,106.0,SERVICIOS,1,29412,Engativa,Calle 80,31.0
26297,C860040576,COLTANQUES SAS,3/6/2017,2.0,SE-GF-1-0001,ALINEACION,106.0,SERVICIOS,1,18900,Bogota,Grandes flotas,21.0

In [10]:
data_frame_ventas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 127255 entries, 0 to 127254
Data columns (total 13 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   IdCliente      127255 non-null  object
 1   NombreCliente  127255 non-null  object
 2   Fecha          127255 non-null  object
 3   Empleado       127255 non-null  float64
 4   Referencia     127255 non-null  object
 5   Descripcion    127255 non-null  object
 6   CodigoFamilia  127255 non-null  float64
 7   Familia        127255 non-null  object
 8   Cantidad       127255 non-null  object
 9   Ventas         127255 non-null  object
 10  Localidad      127255 non-null  object
 11  Sede           127255 non-null  object
 12  Area           127255 non-null  float64
dtypes: float64(3), object(10)
memory usage: 12.6+ MB

In [11]:
data_frame_ventas.sample(5)

,IdCliente,NombreCliente,Fecha,Empleado,Referencia,Descripcion,CodigoFamilia,Familia,Cantidad,Ventas,Localidad,Sede,Area
85017,C19261124,GARZON ERNESTO,10/1/2019,44.0,SE-CS-4-0001,REPARACION MENOR DE LLANTA (DESPINCHE ) TACO,106.0,SERVICIOS,1,10084,Puente aranda,Calle 13,35.0
27272,C860040576,COLTANQUES SAS,12/6/2017,2.0,SE-GF-1-0001,ALINEACION,106.0,SERVICIOS,1,18900,Bogota,Grandes flotas,21.0
69158,C52706610,PERALTA HEYDI,4/8/2018,36.0,VFA-0027,FILTRO DE ACEITE MF-16,109.0,FILTROS,1,10084,Engativa,Calle 80,31.0
49585,C79296183,TELLEZ PEnALOZA ENRI,15/1/2018,10.0,REB-0137,REENC TR 750-16,102.0,REENCAUCHE,2,489075,Engativa,Calle 80,31.0
45743,C19374800,MONTOYA GONZALO,14/12/2017,10.0,LUA-0011,HELIX 20W50 GALON,103.0,LUBRICANTES,1,110000,Engativa,Calle 80,31.0

In [12]:
data_frame_ventas.isnull().sum()

IdCliente        0
NombreCliente    0
Fecha            0
Empleado         0
Referencia       0
Descripcion      0
CodigoFamilia    0
Familia          0
Cantidad         0
Ventas           0
Localidad        0
Sede             0
Area             0
dtype: int64

In [13]:
# df.to_csv('df_limpio.csv', index=False)

Proceso de transformacion y limpieza:

Tabla Ventas:

In [14]:
#cambiar el tipo de dato de las columnas
data_frame_ventas['Empleado'] = data_frame_ventas['Empleado'].astype(int)
data_frame_ventas['CodigoFamilia'] = data_frame_ventas['CodigoFamilia'].astype(int)
data_frame_ventas['Area'] = data_frame_ventas['Area'].astype(int)

In [15]:
#cambio de nombre de columna de ventas por Id_Empleado para hacer la relacion de las tablas
data_frame_ventas.rename(columns={'Empleado': 'Id_Empleado'}, inplace=True)

In [16]:
#unificacion de las tablas 
df_unificada = pd.merge(data_frame_empleado, data_frame_ventas, on='Id_Empleado')

In [17]:
df_unificada.sample(5)

,Id_Empleado,Nombre y Apellido,IdCliente,NombreCliente,Fecha,Referencia,Descripcion,CodigoFamilia,Familia,Cantidad,Ventas,Localidad,Sede,Area
63967,14,Javier Garay,C23423071,GIL AVILA MIRIAM YANETH,28/12/2019,SE-CS-11-0002,RECTIFICACION RIN LUJO,106,SERVICIOS,1,29412,Suba,Suba,32
102520,45,Nicolas Castro,C900454921,HELPHONE SAS,17/10/2018,SE-CS-5-0001,ROTACION LLANTAS AUTO / CAMIONETA,106,SERVICIOS,1,8403,Barrios unidos,Av Chile,34
110817,50,Thian Navarro,C800166199,DELTEC SA,9/1/2019,VFR-0262,FILTRO DE COMBUSTIBLE MFC-299616 / FLP-355,109,FILTROS,1,23529,Engativa,Calle 80,31
96616,44,Juan Casivar,C900576925,EDAFAL PETROL S A S,5/12/2019,SE-CS-2-0002,BALANCEO CAMIONETA,106,SERVICIOS,4,33613,Engativa,Calle 80,31
82935,36,Luis Barquiel,C17183411,RUIZ EDGAR,30/8/2018,SE-CS-10-0001,CALIBRACION CON NITROGENO,106,SERVICIOS,4,16807,Engativa,Calle 80,31

In [18]:
# Explorar la columna ventas, ya que hay valores de la columna que no cumplen con el formato numerico
# encontrar los valores con el formato no numericos, los valores correctos solo lleva punto para el decimal
valores_no_numericos = df_unificada['Ventas'][pd.to_numeric(df_unificada['Ventas'], errors='coerce').isnull()]
valores_no_numericos

2276     70.000.001,00
2277     70.000.001,00
8001     74.511.448,00
11683    65.321.270,00
16360    74.158.398,00
Name: Ventas, dtype: object

In [19]:

# Funcion que limpia y convierte los valores que no son numericos, hay algunos valores que tienen simbolos y puntos
def limpiar_convertir(valor):
    valor = str(valor).replace('$', '').replace('.', '').replace(',', '.')
    return float(valor)

# Aplicamos la función a la columna 'Ventas'
df_unificada['Ventas'] = df_unificada['Ventas'].apply(limpiar_convertir)

df_unificada['Ventas']

0          992759.0
1         1755172.0
2           21552.0
3           31034.0
4           32759.0
            ...
127250    2099412.0
127251      16807.0
127252      33613.0
127253      33613.0
127254    1882353.0
Name: Ventas, Length: 127255, dtype: float64

Se  crea una columna para pasar los valores de pesos a dolares:

In [20]:
df_unificada['Venta_Dolares'] = df_unificada['Ventas'] * 0.00023

In [21]:
df_unificada.sample(5)

,Id_Empleado,Nombre y Apellido,IdCliente,NombreCliente,Fecha,Referencia,Descripcion,CodigoFamilia,Familia,Cantidad,Ventas,Localidad,Sede,Area,Venta_Dolares
99598,45,Nicolas Castro,C79141952,BUITRAGO TIMOLEON,24/11/2017,SE-CS-1-0001,ALINEACION AUTO,106,SERVICIOS,1,33613.0,Barrios unidos,Av Chile,34,7.73099
95946,44,Juan Casivar,C83233818,FARFAN LIBORIO,2/11/2019,VFR-0067,FILTRO DE AIRE MFA-670P / AIP-679,109,FILTROS,1,21008.0,Engativa,Calle 80,31,4.83184
41710,10,Adrian Lucero,C1019018646,SALAMANCA ANDRES,7/4/2018,SE-CS-4-0001,REPARACION MENOR DE LLANTA (DESPINCHE ) TACO,106,SERVICIOS,1,10924.0,Engativa,Calle 80,31,2.51252
127178,67,Esteban Vera,C51630996,ACARDENAS AURA,5/2/2020,LL-TCA-0438,PRIMACY 4 225/50R17,101,LLANTA,1,450420.0,Usaquen,Santa ana,33,103.59660
58804,14,Javier Garay,C3033624,ROJAS CARLOS,3/12/2018,LL-TCA-0133,TOURING 175/70R13,101,LLANTA,2,221849.0,Suba,Suba,32,51.02527

In [22]:
#SE crea el archivo final procesado
df_unificada.to_csv('Archivo_procesado.csv', index=False)

Indicadores básicos para empezar:
Venta Total /
Cantidad de Elementos vendidos /
Ganancia Facturación Total de Servicios /
Cantidad de Servicios Ofrecidos /
Cantidad de Sedes o ubicaciones disponibles /
Ventas totales por Sedes en cada Rubro o Familia y Servicios /
Ventas realizadas por sus empleados /
Ranking de Ventas / Servicios de Empleados /

In [23]:
# Se lee el archivo ya procesado
df = pd.read_csv('Archivo_procesado.csv')

Ventas totales:

In [24]:
Ventas_totales = df['Venta_Dolares'].sum()
Ventas_totales

17117998.767079998

Cantidad de elementos vendidos:

In [25]:
df['Cantidad'] = df['Cantidad'].apply(limpiar_convertir)
suma_cantidad = int(df['Cantidad'].sum())
suma_cantidad

315067

Facturacion total por servicios:

In [26]:
ventas_total_servicio = df.loc[df['Familia'] == 'SERVICIOS', 'Venta_Dolares'].sum()
ventas_total_servicio

2591311.09747

Cantidad de servicios ofrecido:

In [27]:
# Agrupar las descripciones por el valor en la columna 'familia' y obtener las que pertenecen a 'servicios'
descripcion_servicios = df.loc[df['Familia'] == 'SERVICIOS', 'Descripcion'].tolist()
servicios_unicos= set(descripcion_servicios)
c= 0
for unicos in servicios_unicos:
    c = c + 1
print("Cantidad de servicios ofrecidos: ",c)

Cantidad de servicios ofrecidos:  130

Cantidad de sedes y ubicaciones disponibles:

In [28]:

sedes = set(df['Sede'])
c=0
print("Nombre de las sedes y ubicaciones:")
for cantidad in sedes:
    c+=1
    print(cantidad)
print("Cantidad:",c)

Nombre de las sedes y ubicaciones:
Av Chile
Ventas externas
Grandes flotas
Santa ana
Calle 13
Suba
Calle 80
Cantidad: 7

Ventas totales por Sedes en cada Rubro o Familia y Servicios

In [29]:

ventas_totales_por_sede_familia = df.groupby(['Sede', 'Familia'])['Venta_Dolares'].sum()
print(ventas_totales_por_sede_familia)

ventas_por_sede = ventas_totales_por_sede_familia.to_dict()
print("Ventas total por sede:")
for clave, valor in ventas_por_sede.items():
    
        print(f"{clave} : {valor}")

Sede             Familia
Av Chile         FILTROS        4.303792e+03
                 LLANTA         7.048852e+05
                 LUBRICANTES    1.187145e+04
                 REENCAUCHE     7.749480e+02
                 SERVICIOS      5.867422e+04
Calle 13         FILTROS        3.936319e+02
                 LLANTA         5.224524e+05
                 LUBRICANTES    1.333687e+03
                 REENCAUCHE     9.671865e+04
                 SERVICIOS      5.582642e+04
Calle 80         FILTROS        2.648899e+04
                 LLANTA         1.205320e+06
                 LUBRICANTES    3.520883e+04
                 REENCAUCHE     1.290111e+05
                 SERVICIOS      2.164058e+05
Grandes flotas   FILTROS        2.116368e+01
                 LLANTA         7.811577e+05
                 REENCAUCHE     1.829985e+05
                 SERVICIOS      1.889883e+06
Santa ana        FILTROS        1.276495e+03
                 LLANTA         5.137988e+05
                 LUBRICANTES    4.108090e+03
                 REENCAUCHE     6.240928e+02
                 SERVICIOS      3.435986e+04
Suba             FILTROS        7.152176e+03
                 LLANTA         2.526985e+05
                 LUBRICANTES    1.940701e+04
                 SERVICIOS      5.993809e+04
Ventas externas  FILTROS        6.211403e+01
                 LLANTA         8.637296e+06
                 LUBRICANTES    3.383134e+02
                 REENCAUCHE     1.386986e+06
                 SERVICIOS      2.762232e+05
Name: Venta_Dolares, dtype: float64
Ventas total por sede:
('Av Chile', 'FILTROS') : 4303.7922
('Av Chile', 'LLANTA') : 704885.20647
('Av Chile', 'LUBRICANTES') : 11871.44632
('Av Chile', 'REENCAUCHE') : 774.9479699999999
('Av Chile', 'SERVICIOS') : 58674.21923
('Calle 13', 'FILTROS') : 393.63189
('Calle 13', 'LLANTA') : 522452.4497
('Calle 13', 'LUBRICANTES') : 1333.68674
('Calle 13', 'REENCAUCHE') : 96718.65148
('Calle 13', 'SERVICIOS') : 55826.41512
('Calle 80', 'FILTROS') : 26488.99052
('Calle 80', 'LLANTA') : 1205319.53376
('Calle 80', 'LUBRICANTES') : 35208.82987
('Calle 80', 'REENCAUCHE') : 129011.12689
('Calle 80', 'SERVICIOS') : 216405.81573
('Grandes flotas', 'FILTROS') : 21.16368
('Grandes flotas', 'LLANTA') : 781157.66272
('Grandes flotas', 'REENCAUCHE') : 182998.48662
('Grandes flotas', 'SERVICIOS') : 1889883.4920400002
('Santa ana', 'FILTROS') : 1276.49494
('Santa ana', 'LLANTA') : 513798.75513
('Santa ana', 'LUBRICANTES') : 4108.09049
('Santa ana', 'REENCAUCHE') : 624.0928100000001
('Santa ana', 'SERVICIOS') : 34359.85548
('Suba', 'FILTROS') : 7152.1761400000005
('Suba', 'LLANTA') : 252698.45574
('Suba', 'LUBRICANTES') : 19407.00578
('Suba', 'SERVICIOS') : 59938.08855
('Ventas externas', 'FILTROS') : 62.11403
('Ventas externas', 'LLANTA') : 8637296.409500001
('Ventas externas', 'LUBRICANTES') : 338.31344
('Ventas externas', 'REENCAUCHE') : 1386986.15478
('Ventas externas', 'SERVICIOS') : 276223.21132

Ventas realizadas por sus empleados

In [30]:
ventas_por_empleado= df.groupby('Nombre y Apellido')['Venta_Dolares'].sum()
ventas_emp= ventas_por_empleado.sort_values(ascending=False)
ventas_por_empleado = ventas_emp.to_dict()
print("Ventas por empleado:")
for clave, valor in ventas_por_empleado.items():
    
        print(f"{clave} : {valor}")

Ventas por empleado:
Esteban Damico : 7965860.73691
Julian Quevedo : 2447936.21482
Juan Pastran : 1315214.21065
Mathiel Perizo : 762647.45546
Marcelo Barrios : 520950.91793
Adrian Lucero : 450667.66812
Nicolas Castro : 437015.52684
Javier Garay : 324666.78675
Pelaytat Axel : 261650.24158
Luis Barquiel : 255423.96793
Thian Navarro : 243019.17415
Juan Casivar : 213092.50312
Franco Guardia : 204557.86023
Marcos Luna : 191794.88492
Jorge Brizuela : 150583.85177
Emir Gimenez : 148343.10667
Valentino Guiñez : 145225.34466
Theo Fernandez : 139125.4475
Montaña Ariel : 129643.92704000001
Giovanni Chacon : 122333.13278
Tobías Quinteros : 116233.07876
Tello German : 100153.0515
Francisco Caballero : 67077.36284
Oscar Rosseto : 55651.15006
Franco Castro : 50427.50092
Isaías Alfaro : 50022.63008
Castro Milton : 43430.92162
Lucas Regalado : 30184.32945
Lionel Pastran : 28346.80517
Alejandro Gimenez : 26728.27332
Rodolfo Colmenares : 15380.156350000001
Etian Aballay : 14383.89042
Tiziano Silva : 13908.43074
Valentin Quintero : 10397.123090000001
Eduardo Monardez : 8238.15518
Ignacio Pinto : 8106.37024
Esteban Vera : 7340.094880000001
Catriel Gonzalez : 7266.1623
Yair Muñoz : 6530.22187
Nicolas Montaña : 5662.47327
Jeremias Ventrice : 4054.44
Cristian Chena : 3801.1479
Liam Arancibia : 2706.9470499999998
Dylan de los Ríos : 2628.5520100000003
Ian Acosta : 2210.0474600000002
Joaquín Grecco : 1391.41536
Benjamín Acosta : 1229.74008
Omar Pacheco : 1131.92361
Gonzalo Valdez : 1006.05082
Gian Cabrera : 854.72761
Leonardo Perez : 609.5970599999999
Adrian Ortiz : 452.26878
Espinoza Duilio : 349.88405
Julián Soria : 307.11785
Alejo Alfaro : 35.45473
Marco Delgado : 8.31082

Ranking de Ventas / Servicios de Empleados

In [31]:
# Paso 1: Filtrar los registros con 'Familia' igual a 'SERVICIOS'
df_servicios = df[df['Familia'] == 'SERVICIOS']

# Paso 2 y 3: Calcular la suma de ventas por empleado
ventas_servicios = df_servicios.groupby('Nombre y Apellido')['Venta_Dolares'].sum()

# Paso 4: Ordenar el resultado para obtener el ranking de ventas por servicio
ranking_ventas_servicios = ventas_servicios.sort_values(ascending=False)

ventas_por_empleado = ranking_ventas_servicios.to_dict()
print("Ventas servicios por empleado:")
for clave, valor in ventas_por_empleado.items():
    
        print(f"{clave} : {valor}")

Ventas servicios por empleado:
Esteban Damico : 1277624.09648
Juan Pastran : 497711.8258
Mathiel Perizo : 242249.18912
Julian Quevedo : 138083.75427
Adrian Lucero : 99570.26945
Javier Garay : 58017.72816
Juan Casivar : 40719.35755
Nicolas Castro : 35096.52593
Luis Barquiel : 32911.99352
Tello German : 28364.29943
Thian Navarro : 22121.510860000002
Theo Fernandez : 22000.09685
Giovanni Chacon : 16437.72648
Franco Guardia : 14294.13522
Marcos Luna : 10233.62184
Marcelo Barrios : 6908.63351
Lucas Regalado : 5690.49164
Lionel Pastran : 4589.75925
Emir Gimenez : 4380.09332
Franco Castro : 4357.462930000001
Pelaytat Axel : 3376.24337
Montaña Ariel : 3161.42567
Tobías Quinteros : 3151.79442
Francisco Caballero : 2766.716
Ignacio Pinto : 2281.24281
Catriel Gonzalez : 1844.39714
Jorge Brizuela : 1835.10882
Oscar Rosseto : 1477.45491
Valentino Guiñez : 1052.20377
Eduardo Monardez : 1036.6376
Tiziano Silva : 840.93957
Yair Muñoz : 835.80137
Ian Acosta : 706.44753
Gonzalo Valdez : 689.97102
Liam Arancibia : 661.15363
Etian Aballay : 649.5246
Castro Milton : 614.06021
Rodolfo Colmenares : 486.46794
Gian Cabrera : 438.68728
Esteban Vera : 411.86376
Alejandro Gimenez : 368.23046
Valentin Quintero : 240.95007
Nicolas Montaña : 209.0102
Leonardo Perez : 127.56352
Joaquín Grecco : 113.89071
Benjamín Acosta : 109.00712
Isaías Alfaro : 102.12736
Jeremias Ventrice : 87.5449
Espinoza Duilio : 80.69826
Dylan de los Ríos : 55.66345
Omar Pacheco : 53.61231
Cristian Chena : 36.482600000000005
Adrian Ortiz : 19.32759
Alejo Alfaro : 17.96507
Marco Delgado : 8.31082